
@{
    ViewBag.Title = "Personal";
}

    <div class="jumbotron">
        <h1>Warehouse-Management</h1>
        <p>
            Hallo Personaler!
        </p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Lager</h2>
        <p>

        </p>
        Wareneingang / Warenausgang buchen<br>
        Lagerorte verwalten<br>
    </div>
    <div class="col-md-4">
        <h2>Einkauf</h2>
        <p>

        <p>
            Material anlegen<br>
            Meine Materialien<br>
            Meine Bestellliste<br>
            Bestellzuständigkeit löschen<br>
</div>
    <div class="col-md-4">
        <h2>Personal</h2>
        <p>

        <p>
            @Html.ActionLink("Mitarbeiter verwalten", "Index", "Users")<br>
    </div>
</div>


